{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="expense" class="expense section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row add_category card">
                        <div class="all_expense">
                            <h2>Add Category</h2>
                            <p>Add new category of your expense</p>
                        </div>
                        <form method="POST" action="{% url 'add_category' %}">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <input placeholder="Category Name" name="category_name" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-primary">Add Category</button>
                            </div>
                        </form>
                    </div>

                    <div class="row add_expense mb-4">
                        <div class="card">
                            <div class="all_expense">
                                <h2>Add Expense</h2>
                                <p>Add your daily expense here</p>
                            </div>
                            <form method="POST">
                                {% csrf_token %}

                                <div class="dropdown show row mb-3">
                                    <select class="btn btn-secondary dropdown-toggle" name="item_cat" id="cars"
                                        required>
                                        <option disabled selected value="">Item category</option>
                                        {% for i in add_category %}
                                        {% if i == category %}
                                        <option value="{{ i.id }}" selected>{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i.id }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row mb-3">
                                    <input value="{{item}}" name="item_name" placeholder="Item Name" type="text"
                                        class="form-control" required>
                                </div>
                                <div class="row mb-3">
                                    <input value="{{amount}}" name="item_price" placeholder="Item Price" type="number"
                                        class="form-control" required>
                                </div>
                                <div class="row mb-3">
                                    <input value="{{narration}}" name="item_narr" placeholder="Narration" type="text"
                                        class="form-control">
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary">Add Expense</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    {% if all_expense %}
                    
                    <div class="row your_expense card">
                        <div class="all_expense">
                            <h2>Your Expenses</h2>
                            <p>Your all expense is here</p>
                        </div>

                        <table class="tablemain">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Category</th>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in all_expense %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.category }}</td>
                                    <td>{{ item.item }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td><a href="{% url 'update' item.id %}"><i
                                                class="fa-solid fa-pen-to-square"></i></a></td>
                                    <td><a href="{% url 'delete' item.id %}"><i class="fa-solid fa-trash"></i></a></td>
                                </tr>

                                {% endfor %}
                                <tr>
                                    <td>Total Amout</td>
                                    <td>{{total}}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="row card expense_report">
                        <h1 class="no_expense">You don't have any expense</h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

{% if msg %}
<script>alert('{{ msg }}')</script>
{% endif %}

<script>
    const getCellValue = (tr, idx) => tr.children[ idx ].innerText || tr.children[ idx ].textContent;

    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    // do the work...
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => table.appendChild(tr));
    })));
</script>

{% endblock %}